# =========================================
# Archivos de compilación
# =========================================
bin/
obj/

# =========================================
# Archivos de usuario (Visual Studio / VS Code)
# =========================================
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.vs/

# =========================================
# Archivos de log
# =========================================
*.log

# =========================================
# Archivos temporales
# =========================================
*.tmp
*.temp

# =========================================
# Dependencias
# =========================================
node_modules/
packages/
*.nupkg
*.snupkg

# =========================================
# Archivos de publicación
# =========================================
publish/
out/

# =========================================
# Archivos de respaldo
# =========================================
*.bak
*.swp
*.DS_Store
Thumbs.db

# =========================================
# Migraciones EF Core
# =========================================

Migrations/

# =========================================
# Cambios e actualizacion :p
# =========================================

Add-Migrations = Null;
node_modules = Null;